*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.imgtitleofplace{
    position: relative;
    width: 75%;
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
    filter: invert(100%);
 }

 .name{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10px;
    right: 10px;
    top: 96vh;
    position: fixed; 
 }


 .date{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10px;
    left: 10px;
    top: 96vh;
    position: fixed; 
 }



 @keyframes moving{

    0%{
        left: -300px; top: 0%;
    }

    100%{
        left: 99%; top: 0%;
    }
 }

 .arthursons-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 300px;
    animation: moving 11s linear infinite;
    animation-delay: -9s;

    &:hover{
        animation-play-state: paused;
    }
 }

 .natsonbank-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 260px;
    animation: moving 11s linear infinite;
    animation-delay: -7s;

    &:hover{
        animation-play-state: paused;
    }
 }


 .cafecluny-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 300px;
    animation: moving 11s linear infinite ;
    animation-delay: -2s;

    &:hover{
        animation-play-state: paused;
    }

 }

 .felice-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 350px;
    animation: moving 11s linear infinite;
    animation-delay: -4s;

    &:hover{
        animation-play-state: paused;
    }

 }

 .momofuku-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 350px;
    animation: moving 11s linear infinite ;
    animation-delay: -8s;

    &:hover{
        animation-play-state: paused;
    }

 }

 @media screen and (max-width: 425px){
    
    .imgtitleofplace{
       width: 400px;
    }
    #arthursons-card{
        width: 150px;
    }
    #natsonbank-card{
        width: 135px;
    }
    #cafecluny-card{
        width: 150px;
    }
    #felice-card{
        width: 170px;
    }#momofuku-card{
        width: 150px;
    }
    .name{
        font-size: 5px;
        left: 5px;
        top: 96vh;
        position: fixed; 
     }
    
    
     .date{
        font-size: 5px;
        left: 5px;
        top: 95vh;
        position: fixed; 
     }

    @keyframes moving{

        0%{
            left: -150px; top: 0%;
        }
    
        100%{
            left: 99%; top: 0%;
        }
     }
   
  }
 