*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.imgtitleofplace{
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
    filter: invert(100%);
 }

 


 @keyframes moving{

    0%{
        left: -300px; top: 0%;
    }

    100%{
        left: 99%; top: 0%;
    }
 }

 .arthursons-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 300px;
    animation: moving 11s linear infinite;
    animation-delay: -9s;

    &:hover{
        animation-play-state: paused;
    }
 }



 .cafecluny-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 300px;
    animation: moving 11s linear infinite ;
    animation-delay: -2s;

    &:hover{
        animation-play-state: paused;
    }

 }

 .felice-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 350px;
    animation: moving 11s linear infinite;
    animation-delay: -4s;

    &:hover{
        animation-play-state: paused;
    }

 }

 .momofuku-card{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    width: 350px;
    animation: moving 11s linear infinite ;
    animation-delay: -8s;

    &:hover{
        animation-play-state: paused;
    }

 }