*{
    box-sizing: border-box;
 }
 
 body {
    background-color: #D0BF71;
    background-size: cover;
 }

 .imgtitleofplace{
    position: relative;
    width: 500px;
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
 }

 .imgtitleofplace:hover{
   filter: invert(7%) sepia(64%) saturate(7419%) hue-rotate(287deg) brightness(105%) contrast(132%);

}
 
 .arrow{
    position: fixed; /* Change to fixed positioning */
    top: 1%; /* Adjust as needed for spacing from the top */
    right: 0%; /* Adjust as needed for spacing from the right */
    width: 150px; /* Set the width as needed */
    height: auto;
    transition: transform 300ms ease-in-out;
 }

 .arrow:hover{
    transform: translateX(-20px);
    filter: invert(7%) sepia(64%) saturate(7419%) hue-rotate(287deg) brightness(105%) contrast(132%);


 }
 
 .cardimage{
    position: absolute;
    width:270px;
    left: 35%;
    top: 35%;
    z-index: -1;
 }

 .sticker{
   position: absolute;
   width:200px;
   left: 35%;
   top: 90%;
   z-index: -1;
}
 .postcard{
    position: absolute;
    width: 260px;
    right: 7%;
    top: 60%;
    z-index: -1;
 }

 .pens{
    position: absolute;
    left: 15%;
    top: 70%;
    width: 100px;
    z-index: -1;
    transform: rotate(-45deg);

 }

 .expandable{
    --xy-padding:14px;
    --transition-ms:0.3s;

   max-width: 510px;
    font-size: 11pt;
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
/* /*     background-color: #f0eeb6; */
   overflow: hidden;
    height: fit-content; /* Set a minimum height */
    display: flex;
/*     padding-bottom: 5pt;
 */    flex-direction: column;
   
}

.expandable--open .expandable__content-wrapper{
    grid-template-rows: 1fr;
    margin-bottom: 10px;

}

.expandable--open .expandable__icon{
    transform: rotate(-90deg);
}

.expandable__title-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--xy-padding);
    user-select: none;
/*     background-color: #f0eeb6; */
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.expandable__title{
    font-weight: bold;
}

.expandable__icon{
    transition: transform var(--transition-ms);
}

.expandable__content{
    padding: 0 var(--xy-padding);
    line-height: 1.4;
    font-size: 13px;
    border-top: none;
    overflow: hidden;
}

.expandable__content-wrapper{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition-ms) ease-out;

}
.card{
   position:absolute;
   z-index:0;
}

#billysbox{
    top: 90%;
    left:70%;
    background: #ACA752;
    max-width: 25%;
    transform: rotate(-5deg);

}

#nikksbox{
    top: 70%;
    max-width: 33%;
    left: 30%; 
    background-color: #b89ba2;
    transform: rotate(3deg);

 }

 #taylorsbox{
    top: 120%;
    left: 60%;
    max-width: 33%;
    background-color: #b89ba2;
    transform: rotate(-2deg);

 }

 #jamesbox{
    top: 40%;
    left: 60%;
    max-width: 30%;
    background-color: #b89ba2;
    transform: rotate(2deg);

 }

 #michaelsbox{
    top: 40%;
    left: 5%;
    max-width: 25%;
    background-color: #ACA752;
    transform: rotate(4deg);

 }

 #helenasbox{
    top: 125%;
    left: 5%;
    background-color: #ACA752;
    transform: rotate(-3deg);
    max-width: 20%;


 }

 @media screen and (max-width: 425px){
   .imgtitleofplace{
      width: 270px;
   }
   .arrow{
      width: 70px;
   }
   #cardimage{
      display: none;
   }
   #postcard{
      display: none;
   }
   #sticker{
      display: none;
   }
   #pens{
      display: none;
   }

   #billysbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }

   #nikksbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }  

   #nikksbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }  

   
   #taylorsbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }

   #jamesbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }

   #michaelsbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }
   
   #helenasbox{
      top: 0%;
      left: 0%;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
      max-width: 100%;
      transform: rotate(0deg);
   }

   .expandable__title-bar{
      font-size: 10px;
  }
  .expandable__content{
   font-size: 9px;
  }

  
   
}